/* Footer */
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}
#Footer {
  background: #007b5e !important;
}
#Footer h5 {
  padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color: #ffffff;
}
#Footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
#Footer ul.social li {
  padding: 3px 0;
}
#Footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#Footer ul.social li:hover a i {
  font-size: 30px;
  margin-top: -10px;
}
#Footer ul.social li a,
#Footer ul.Quicklinks li a {
  color: #ffffff;
}
#Footer ul.social li a:hover {
  color: #eeeeee;
}
#Footer ul.Quicklinks li {
  padding: 3px 0;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#Footer ul.Quicklinks li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700;
}
#Footer ul.Quicklinks li a i {
  margin-right: 5px;
}
#Footer ul.Quicklinks li:hover a i {
  font-weight: 700;
}

@media (max-width: 767px) {
  #Footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}
